.board__wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	align-items: start;
}
.board__item {
	background-color: rgb(60, 60, 60);
	min-height: max-content;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 10px;
}
.board__card-title {
	margin: 0;
	color: #fff;
	padding: 10px 15px;
	font-family: sans-serif;
}
.board {
	&__card-title-holds {
		background-color: rgb(201, 130, 0);
	}
	&__card-title-progress {
		background-color: rgb(40, 40, 224);
	}
	&__card-title-review {
		background-color: rgb(212, 215, 2);
	}
	&__card-title-approved {
		background-color: rgb(0, 128, 0);
	}
	&__btn {
		background-color: transparent;
		display: flex;
		align-items: center;
		gap: 10px;
		border: none;
		color: grey;
		font-size: 20px;
		padding: 10px 10px;
		text-align: start;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: rgb(26, 26, 26);
		}
	}
	&__textarea {
		margin-bottom: 5px;
		background-color: transparent;
		padding: 0;
		padding: 10px;
		color: #fff;
		font-size: 16px;
		resize: none;
		width: 100%;
		border-radius: 0.2rem;
		background-color: #595858;
		border: none;
		transition: background-color 0.3s ease-in-out;
		&::placeholder {
			color: #b5b5b5;
			font-size: 14px;
		}
		&:focus {
			outline: none;
			background-color: #6f6f6f;
		}
	}
	&__form {
		width: calc(100% - 40px);
		padding-left: 10px;
		padding-right: 10px;
	}
	&__cards-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	&__card {
		cursor: move;
		position: relative;
		color: #fff;
		font-size: 20px;
		padding: 10px;
		min-height: 90px;
		background-color: rgb(26, 26, 26);
	}
	&__btn-delete {
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: transparent;
		border: none;
		padding: 5px;
		color: #fff;
		font-family: sans-serif;
		font-size: 14px;
	}
	&__wrapper-btn {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	&__submit {
		cursor: pointer;
		background-color: #595858;
		color: #a2a2a2;
		border: none;
		font-size: 18px;
		border-radius: 3px;
		padding: 10px 30px;
		color: #d6d6d6;
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
	&__close {
		cursor: pointer;
		border: none;
		padding: 5px;
		background-color: transparent;
	}
}
