.board__wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: start;
}

.board__item {
  background-color: rgb(60, 60, 60);
  min-height: -moz-max-content;
  min-height: max-content;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.board__card-title {
  margin: 0;
  color: #fff;
  padding: 10px 15px;
  font-family: sans-serif;
}

.board__card-title-holds {
  background-color: rgb(201, 130, 0);
}
.board__card-title-progress {
  background-color: rgb(40, 40, 224);
}
.board__card-title-review {
  background-color: rgb(212, 215, 2);
}
.board__card-title-approved {
  background-color: rgb(0, 128, 0);
}
.board__btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  color: grey;
  font-size: 20px;
  padding: 10px 10px;
  text-align: start;
  transition: background-color 0.3s ease-in-out;
}
.board__btn:hover {
  background-color: rgb(26, 26, 26);
}
.board__textarea {
  background-color: transparent;
  padding: 0;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  resize: none;
  width: 100%;
  border-radius: 0.2rem;
  background-color: #595858;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.board__textarea::-moz-placeholder {
  color: #b5b5b5;
  font-size: 14px;
}
.board__textarea::placeholder {
  color: #b5b5b5;
  font-size: 14px;
}
.board__textarea:focus {
  outline: none;
  background-color: #6f6f6f;
}
.board__form {
  width: calc(100% - 40px);
  padding-left: 10px;
  padding-right: 10px;
}
.board__cards-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.board__card {
  position: relative;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  min-height: 90px;
  background-color: rgb(26, 26, 26);
}
.board__btn-delete {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  padding: 5px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 2px solid rgb(60, 60, 60);
  background: #523333;
}
.header__title {
  margin: 0;
  color: #fff;
  font-size: 30px;
}
.header__btn {
  cursor: pointer;
  padding: 10px;
  padding: 0;
  background: transparent;
  border: none;
}

.errors {
  position: fixed;
  bottom: 20px;
  right: 40px;
}
.errors__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 300px;
}
.errors__item {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  background-color: rgb(164, 0, 0);
  color: #fff;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.default__layout {
  background-color: #595858;
}

.form__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__form {
  grid-auto-rows: max-content;
  background-color: rgb(10, 7, 50);
  max-width: 700px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
}

.form__input {
  border-radius: 0.5rem;
  min-height: 35px;
  padding: 5px 15px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #6a6a6a;
  box-shadow: 0 0 5px #6a6a6a;
  color: #fff;
}
.form__input:focus {
  outline: none;
}
.form__input::-moz-placeholder {
  color: #fff;
}
.form__input::placeholder {
  color: #fff;
}

.form__btn {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 10px 40px;
  font-size: 20px;
  background-color: #272727;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #fff;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.form__btn:focus-visible {
  outline: none;
  border: 1px solid #cccccc;
}
.form__btn:hover:not(:focus-visible) {
  cursor: pointer;
  background-color: #3d3d3d;
}
.form__btn:active:not(:focus-visible) {
  transform: scale(0.9);
}

.links {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.links:hover {
  color: #cccccc;
}/*# sourceMappingURL=style.css.map */